//================================================ 1.GRADIENTS

$gPurpleDark1: #9638ff;
$gPurpleDark2: #7058d1;
$gPurpleDark3: #5f4488;

//================================================ 2.TYPOGRAPHY

$postHeader: #3b3c41;
